#game {
    display: none;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;

}

.bar {
    /* color of the bars */
    position: relative;
    width: 100%;
    height: 50px;
    background-color: maroon;
    border: 2px solid gold;
    
    /* Font */
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-style: bold;
    font-size: x-large;
    color: yellow;

}

.bar-links {
    display: inline-block;
    width: 15%;
    color: white;
    font-size: 1.2em;
}

.bar-links:hover {
    transition: color 1.5s;
    color: gold;
    text-shadow: 0 0 12px black;
}

.left {
    border-left: thick solid #ff0000;
}

.grid {
    display: inline-block;
}

.row {
    display: flex;
    width: 100%;
}

[class*="col-"] {
    display: block;
    height: auto;
    width: auto;
}

.cards {
    height: 100px;
    width: 100px;
}

#reset {
    background-color: pink;
    color: brown;
}
#reset:hover {
    background-color: red;
    color: pink;
}

@keyframes spin {
    from {transform:rotateY(180deg);}
    to {transform:rotateY(360deg);}
}


@media screen and (max-width:1280px) {
    .grid {
        width: auto;
        padding: .5em;
        margin: 0
    }
    .bar {
        padding: 0
    }
}