#game {
    display: none;
}

.grid {
    width: 100%;

}

/* ensure everyting before and after row stays in that row */
.row:before, 
.row:after {
        content:"";
        display: table ;
        clear:both;
}

.row {
    display: flex;
    width: 100%;
}

[class*="col-"] {
    display: block;
    height: auto;
    width: auto;
}

img {
    height: 100px;
    width: 100px;
}

@keyframes spin {
    from {transform:rotateY(180deg);}
    to {transform:rotateY(360deg);}
}