
body {
    background: url(
        "https://tse1.mm.bing.net/th?id=OIP.U50enectlTS59a1Ky8rkdQHaHa&pid=Api"
    );
}



.open {
  font-family: 'Dancing Script', cursive;
  font-weight: bolder;
  font-size: 10em;
  letter-spacing: 5px;
  
  color: #360a0a;
  text-shadow: 2px 2px rgb(226, 177, 177) ;

  position: relative;
  text-align: center;
}

button.start {
   
    /* button stuff */
    margin: 0 auto;
    display: block;
    
    height: 50px;
    width: 100px;

    box-shadow: 3px 4px 1px 0px #8a2a21;
    background-color: pink;

    /* font css */
    color: #360a0a;
    font-family: 'Dancing Script';
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: 2em;
    text-shadow: 2px 2px rgb(226, 177, 177);
}

button:hover{
    background-color: #360a0a;
    text-shadow: none;
    color: pink;
}

#opener {
    position: flex;
    justify-content: center;
    vertical-align: center;
}

#game {
    display: none;
}